.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1aff8c;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 5px 8px 5px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: white;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: pink;
  color: white;
  padding: 10px 15px;
  border: 2px solid black;
}

.openbtn:hover {
  background-color: pink;
}
 .nav.navbar-nav li a {
    color: blue;
    font-size: 20px;
}
  .activetopic a {
    background-color: black;
    color: white;
  }

#main {
  transition: margin-left .5s;
  padding: 8px 2px 8px 8px;
  max-width: 700px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

 .mycode{
    width: 100%;
    max-width: 800px;
    min-height: 220px;
    height: auto;
    /*scroll-behavior: 45px;*/

  }
  .mynotes{
    margin-left:5%;
    padding-right: 2%;
    width: 100%;
    max-width: 800px;
    font-size: 20px;
  }
  .maintopic{
    text-align: center;
    color: #660066;
    background-color: yellow;
    font-size: 38px;
  }
  .subtopic{
    align-self: center;
    color: blue ;
    font-size: 28px;
  }
  .imgnotes{
    width: 80%;
    max-width: 800px;
    height: auto;
    max-height: 450px;
  }
  @media screen and (max-width: 500px) {
  .mynotes{
    margin-left:5%;
    padding-right: 5%;
    width: 100%;
    max-width: 800px;
    font-size: 16px;
  }
  .maintopic{
    text-align: center;
    color: blue;
    background-color: yellow;
    font-size: 32px;
  }
  .subtopic{
    align-self: center;
    color: #660066;
    font-size: 24px;
  }
  } /*@media screen and (max-height: 500px) { }*/
.btnanm {
  width: 100%;
  }
.btnanm:hover {
  background-color: lightblue;
}
.outputdiv {
  margin-top: 10px;
  margin-bottom: 10px;
}
.output{
  display: none;
  white-space: pre-wrap; 
  background-color: black;
  color: white;
  font-size: 18px;
}